.open-Control-Panel {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    padding-top: 55px;
}
.open-Control-Panel .logo-header {
    padding-top: 0;
}
.open-Control-Panel .container:nth-child(2) {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.open-Control-Panel .container h1 {
    font-size: var(--font-size-84);
    font-weight: var(--font-weight-04);
    color: var(--main-color-01);
    margin: 0;
    width: 100%;
    text-align: center;
}
