.swiper {
    padding: 0 40px !important;
    height: 100%;
}

.swiper .swiper-slide {
    z-index: 30 !important;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    width: 32px;
    height: 32px;
    background-color: var(--default-color-01);
    border-radius: 50%;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
    content: "";
    font-size: 15px;
    font-weight: bold;
    margin-right: 3px;
    color: var(--font-color-02);
}

.swiper .swiper-button-prev::after {
    content: "";

    margin-left: 3px;
}

.swiper .swiper-button-prev {
    right: 0 !important;
    z-index: 100 !important;
}

.swiper .swiper-button-next {
    left: 0 !important;
    z-index: 100 !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    display: none;
}

/* @media (max-width: 992px) {

  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
    display: none;

  }
} */
