.main-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  height: fit-content;
  padding-bottom: 60px;
}

.main-title .bt-main {
  background-color: var(--default-color-01);
  cursor: text;
}