/* component */
.main-footer {
}
.main-footer .go-up {
    position: fixed;
    width: 35px;
    height: 35px;
    background-color: var(--font-color-02);
    right: -40px;
    bottom: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition: var(--transition);
    cursor: pointer;
    z-index: 3000;
}
.main-footer .go-up span {
    color: var(--font-color-default);
}
.main-footer .go-up span svg {
    transform: rotate(90deg);
    margin-bottom: 1px;
}
.main-footer .go-up.show {
    right: 20px;
    font-size: 18px;
}

.main-footer .all {
    background-color: var(--main-color-01);
    padding: 60px 0 0;
    min-height: 380px;
}

.main-footer .all .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 40px;
    min-height: 200px;
}

.main-footer .box-left {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    width: 100%;
    max-width: 300px;
    gap: 20px;
}

.main-footer__logo {
    display: flex;
    align-content: center;
    justify-content: flex-end;
}

.main-footer__logo svg,
.main-footer__logo img {
    width: 165px;
    height: 180px;
    object-fit: contain;
}

.main-footer .box-left ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 0 !important;
    margin: 0 !important;
}
.main-footer .box-left ul li {
    width: 32px;
    height: 32px;
}

.main-footer ul li:nth-child(1) svg path {
    fill: var(--font-color-default);
}

.main-footer .box-right {
    flex: 1;
    width: 100%;
    min-height: 200px;
}

.main-footer .box-right ul {
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0;
    row-gap: 30px;
}

.main-footer .box-right ul li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 198px;
    width: 200px;
}

.main-footer .box-right ul li h4 {
    margin-bottom: 28px;
    color: var(--back-color-01);
    font-size: var(--font-size-28);
    font-weight: var(--font-weight-02);
    width: 100%;
}

.main-footer .box-right ul li ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    /* height: 198px; */
    width: 100%;
}

.main-footer .box-right ul li ul li {
    width: 100%;
    transition: var(--transition);
    height: 36px !important;
    display: block;
    flex: none;
}

.main-footer .main-footer-link {
    cursor: pointer;
    margin-bottom: 0;
    color: var(--back-color-01);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-02);
    letter-spacing: 0.08px;
    transition: var(--transition);
}
.main-footer .copyright-box {
    min-height: 140px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    flex-direction: column !important;
    margin-top: 20px !important;
    gap: 5px !important;
}
.main-footer .copyright-box hr {
    width: 100%;
    margin: 0;
    color: --font-color-01;
    margin-bottom: 20px;
}
.main-footer .copyright-box h5 {
    margin: 0;
    color: var(--font-color-default);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-02);
}
.main-footer .copyright-box h5 span {
    color: var(--font-color-02);
    font-weight: var(--font-weight-04);
}

@media (max-width: 992px) {
    .main-footer .box-right ul {
        flex-direction: column;
    }

    .main-footer .box-right ul li {
        flex: 1;
    }

    .main-footer__logo {
        justify-content: center;
    }

    .main-footer .box-left ul {
        justify-content: center;
    }
}
