.payment-box {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    overflow-y: auto;
    max-width: 1920px;
}

.payment-box .content-all {
    height: 1400px;
}

.payment-box .container {
}

.payment-box .container .title {
    margin-top: 57px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
    margin-bottom: 26px;
}

.payment-box .container .title div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.payment-box .container .title span {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--font-color-07);
    border-radius: 50%;
    color: var(--font-color-02);
    cursor: pointer;
}

.payment-box .container .title span svg {
}

.payment-box .container .title h3 {
    margin: 0;
    color: var(--black-color-01);
    font-size: var(--font-size-16);
    letter-spacing: 0.18px;
    font-weight: var(--font-weight-02);
}

.payment-box .container .title h5 {
    color: var(--font-color-05);
    margin: 0;
    font-size: var(--font-size-16);
    letter-spacing: 0.18px;
    font-weight: var(--font-weight-02);
}

/* ===== */
.payment-box .container .row {
    justify-content: flex-end;
    max-width: 100%;
    margin: 0;
}

.payment-box .container .payment-content {
    padding: 0 !important;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
}

.payment-box .container .payment-content .change-payment {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    min-height: 780px;
    gap: 20px;
}

.payment-box .container .payment-content .change-payment .all {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;
}

.payment-box .payment-content .change-payment .box {
    width: 278px;
    height: 194px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    box-shadow: var(--box-shadow-01);
    gap: 10px;
}

.payment-box .payment-content .form {
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    max-width: 866px;
    padding: 20px;
    box-sizing: var(--box-shadow-02);
    border-radius: var(--main-border-radius-04);
    box-shadow: var(--box-shadow-02);
    gap: 20px;
    display: none;
}

.payment-box .payment-content .form.active {
    display: flex;
}

.payment-box .payment-content .form div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}

.payment-box .payment-content .form div h6 {
    margin: 0;
    color: var(--font-color-02);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-02);
}
.payment-box .select-mu {
    height: 56px;
    width: 100%;
    background-color: #e7ecef;
    border: 1px solid #e7ecef;
    border-radius: var(--main-border-radius-04);
    color: var(--black-color-01);
    outline: none;
    box-shadow: none;
    padding: 0 20px;
    background-position: left 0.75rem center;
}

.payment-box .select-mu svg {
    left: 20px !important;
    right: auto !important;
    color: #67747b;
    font-size: 17px;
}
.payment-box .select-mu .MuiSelect-select {
    padding-right: 5px !important;
    font-family: "Tajawal", sans-serif !important;
    color: var(--font-color-05);
}

.payment-box .payment-content .form div select,
.payment-box .payment-content .form div select:focus,
.payment-box .payment-content .form div input {
    height: 56px;
    width: 100%;
    background-color: #e7ecef;
    border: 1px solid #e7ecef;
    border-radius: var(--main-border-radius-04);
    color: var(--black-color-01);
    outline: none;
    box-shadow: none;
    padding: 0 20px;
    background-position: left 0.75rem center;
}

.payment-box .payment-content .form div select {
    color: var(--font-color-03);
}

.payment-box .payment-content .form div input:placeholder {
    color: var(--font-color-03);
}

.payment-box .payment-content .form button {
    all: unset;
    cursor: pointer;
    width: 100%;
    max-width: 474px;
    font-weight: var(--font-weight-03);
    border-radius: var(--main-border-radius-04);
    background-color: var(--main-color-01);
    font-size: var(--font-size-22);

    color: var(--font-color-default);
    height: 56px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-box .payment-content .change-payment .box span {
    width: 100%;
    height: 101px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-box .payment-content .change-payment .box span svg {
}

.payment-box .payment-content .change-payment .box .form-check {
    width: 100%;
    height: 56px;
    background-color: var(--back-color-06);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    cursor: pointer;
}

.payment-box .payment-content .change-payment .box .form-check input {
    width: 37px;
    height: 22px;
    box-shadow: none !important;
    outline: none !important;
    cursor: pointer;
}

.payment-box .payment-content .change-payment .box .form-check input:checked {
    background-color: var(--font-color-05) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23fff%27/%3e%3c/svg%3e");
    background-position: left center;
}

.payment-box .payment-content .change-payment .box .form-check input {
    width: 37px;
    height: 22px;
    box-shadow: none !important;
    outline: none !important;
    background-color: var(--font-color-05) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23fff%27/%3e%3c/svg%3e");
    background-position: left center;
    border: none !important;
}

.payment-box .payment-content .change-payment .box .form-check.active input {
    background-position: right center;
    background-color: #3ae374 !important;
}

.payment-box .payment-content ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 50px;
    height: 80px;
}

.payment-box .payment-content ul li {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    color: var(--main-color-03);
    font-size: var(--font-size-20);
    letter-spacing: 0px;
    font-weight: var(--font-weight-02);
    cursor: pointer;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .payment-box .container .payment-content .change-payment {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .payment-box .container .payment-content .change-payment .all {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .payment-box .payment-content ul {
        justify-content: center;
        gap: 30px;
    }
}
@media (max-width: 390px) {
    .payment-box .payment-content ul {
        justify-content: center;
        gap: 25px;
    }
    .payment-box .payment-content ul li {
        gap: 5px;
        font-size: var(--font-size-16);
    }
}
