:root {
  /* Colors: */
  --main-color-2: #0077FF;
  --unnamed-color: #0099FB;
  --black-color-01: #011723;
  --font-color-06: #EFF9FF;
  --font-color-05: #67747B;
  --font-color-04: #FAFAFA;
  --font-color-03: #ADB5B9;
  --font-color-02: #02466A;
  --main-color-01: #1DBBBE;
  --font-color-default: #fff;
  --font-color-01: #8a9191;
  --default-color-01: #B6BE34;
  --back-color-01: #F7FCFF;
  --back-color-02: #1DBBBE1A;
  --back-color-03: #02466A0A;
  --back-color-04: #F4F5F7;
  --back-color-05: #f2f5f6;
  /* Font/text values */
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-32: 32px;
  --font-size-38: 38px;
  --font-size-48: 48px;
  --font-size-54: 54px;
  --main-border-radius-01: 32px;
  --main-border-radius-02: 8px;
  --main-border-radius-16: 16px;
  --main-border-radius-17: 17px;
  --font-weight-01: 300;
  --font-weight-02: 400;
  --font-weight-03: 500;
  --font-weight-04: 600;
  --font-weight-05: 700;

  /* ========================================== */
  /* --unnamed-character-spacing-0: 0px;
  --unnamed-character-spacing-0-2: 0.2px;
  --unnamed-character-spacing-0-28: 0.28px;
  --unnamed-character-spacing-0-22: 0.22px;
  --unnamed-line-spacing-28: 28px;
  --unnamed-line-spacing-29: 29px;
  --unnamed-line-spacing-42: 42px;
  --unnamed-line-spacing-53: 53px;
  --unnamed-line-spacing-80: 80px; */
  --transition: ease .3s;
  --main-padding-top: 45px;
  --main-padding-bottom: 45px;
}

@media (max-width: 768px) {
  :root {

    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-24: 20px;
    --font-size-28: 24px;

    --font-size-32: 28px;
    --font-size-38: 28px;
    --font-size-48: 38px;
    --font-size-54: 45px;


  }
}

/* Character Styles */
/* .tajawal-—-medium-38pt {
  font-family: var(--unnamed-font-family-tajawal);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-38);
  line-height: var(--unnamed-line-spacing-53);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-f7fcff);
} */

/* .tajawal-—-bold-54pt {
  font-family: var(--unnamed-font-family-tajawal);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-54);
  line-height: var(--unnamed-line-spacing-80);
  letter-spacing: var(--unnamed-character-spacing-0-22);
  color: var(--unnamed-color-f7fcff);
} */

/* .tajawal-—-bold-20pt {
  font-family: var(--unnamed-font-family-tajawal);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-29);
  letter-spacing: var(--unnamed-character-spacing-0-2);
  color: var(--unnamed-color-011723);
} */

/* .tajawal-—bold-28pt {
  font-family: var(--unnamed-font-family-tajawal);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-28);
  line-height: var(--unnamed-line-spacing-42);
  letter-spacing: var(--unnamed-character-spacing-0-28);
  color: var(--unnamed-color-011723);
} */

/* .tajawal-—regular-20pt {
  font-family: var(--unnamed-font-family-tajawal);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-28);
  letter-spacing: var(--unnamed-character-spacing-0-2);
  color: var(--unnamed-color-011723);
} */

/* ================================global================================== */
body {
  background-color: var(--back-color-03) !important;
  /* background-color: #02466A0A !important; */
}

img {
  max-width: 100%;
}

a {

  text-decoration: none !important;
}

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


* {
  font-family: 'Tajawal', sans-serif;
  box-sizing: border-box !important;
}

ul {

  list-style: none;
  margin: 0;
  padding: 0;
}

.bt-main {
  all: unset;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: var(--main-border-radius-01);
  color: var(--back-color-01);
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-03);
  letter-spacing: 0.1px;

  display: flex;
  align-items: center;
  justify-content: center;

}

.p-main {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.app {
  /* max-width: 1400px; */
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1440px !important;
  }
}

.app {
  max-width: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}